// bower:scss
// endbower

//@import 'normalize';
//@import 'grid/grid';
@import 'utility';
@import 'grid/multiple';
@import 'vars';
@import 'fonts';


//@import 'sections/header';
@import 'sections/navigation';

html {
    background: url(../images/nuvole_texture.jpg) top center repeat-y;
    background-size: contain;
}
body {
    background: none;
    font: 16px/1.4em $bodyFont;
    color: $bodyColor;
    font-weight: 600;
    text-align: center;
}
strong {
    font-weight: 700;
}

// div[role="main"] {
//     background: url(../images/bg_texture@2x.jpg) 0 0 repeat-y;
//     background-size: contain;
// }

div[role="main"] p {
    font-size: 1.813em;
    line-height: 1.2em;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: $secondColor;
}

h1, h2, h3, h4 {
    font-family: $headingFont;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.title {
    font-size: 5em;
}
.secondTitle {
    font-size: 2.5em;
}
.thirdTitle {
    font-size: 1.9em;
}

#mainHeader, #mainFooter {
    background: url(../images/bg_header.jpg) 0 0 repeat-x;
    height: 96px;
    background-size: contain;
    position: relative;
}
#mainHeader {
    box-shadow: 0 3px 8px #555;
    position: fixed;
    z-index: 9999999;
}




// HOME PAGE
/* Set all parents to full height */
html, body,
#home div[role="main"],
.steps__production {
    height: 100%;
    .touch & {
        height: auto;
    }
}

.clouds__wrapper {
    background: url(../images/nuvole_texture.jpg) top center repeat-y;
    background-size: contain;
    position: relative;
}
.clouds {
    height: 445px;
    width:100%;
    z-index: 1;
}

.clouds__top {
    background: url(../images/nuvole_top_home.jpg) bottom center no-repeat;
    background-size: contain;
    #contatti & {
        background-image: url(../images/nuvole_contatti_top.png);
        z-index: 999999;
        height: 230px;
        background-size: initial;
    }
}

.clouds__bottom {
    background: url(../images/nuvole_bottom_home.jpg) top center no-repeat;
    background-size: contain;
    #contatti & {
        background-image: url(../images/nuvole_contatti_bottom.png);
        background-position: bottom center;
        z-index: 999999;
        height: 230px;
    }
}

.clouds__title {
    padding-top: 350px;
}

.clouds__wrapper_clam {
    padding-top: 153px;
    height: 833px;
}

.clam__wrapper {
    height: 561px;
}

.clam {
    position: absolute;
    top: 0;
    z-index: 2;
    img {
        width: 100%;
    }
}

.clam__1 {
    left: 0;
}
.clam__2 {
    right: 0;
}


.mongolfiere__wrapper {
    background: url(../images/bg_texture.jpg) 0 0 repeat-y;
    background-size: contain;
    position: relative;
    height: 520px;
    &.higher {
        height: 1200px;
        overflow: hidden;
    }
}
.mongolfiera {
    position: absolute;
    left: 50%;
}

.mongolfiera__yellow {
    background: url(../images/mongolfiera_yellow.png) 0 0 no-repeat;
    background-size: contain;
    width: 234px;
    height: 313px;
    top: -36px;
    z-index: 2;
    .touch & {
        left: 50%;
    }
}
.mongolfiera__green {
    background: url(../images/mongolfiera_green.png) 0 0 no-repeat;
    background-size: contain;
    width: 237px;
    height: 397px;
    top: 224px;
    z-index: 3;
    .touch & {
        left: 65%;
    }
}
.mongolfiera__red {
    background: url(../images/mongolfiera_red.png) 0 0 no-repeat;
    background-size: contain;
    width: 377px;
    height: 462px;
    top: 100px;
    z-index: 4;
    .touch & {
        left: 7%;
    }
}

$mongolfiere: 3;
@for $i from 1 through $mongolfiere {

    @-webkit-keyframes anim-#{$i} {
        0% {
            margin-left: -450px;
        }
        100%{
            margin-left: 250px;
        }
    }
    @-moz-keyframes anim-#{$i} {
        0% {
            margin-left: -450px;
        }
        100%{
            margin-left: 250px;
        }
    }
    @-o-keyframes anim-#{$i} {
        0% {
            margin-left: -450px;
        }
        100%{
            margin-left: 250px;
        }
    }
    @keyframes anim-#{$i} {
        0% {
            margin-left: -450px;
        }
        100%{
            margin-left: 250px;
        }
    }

    .mongolfiera {
      &:nth-child(#{$i}){
        @include vendor-prefix(animation-duration, #{5*$i}s);
        @include vendor-prefix(animation-name, anim-#{$i});
        @include vendor-prefix(animation-iteration-count, infinite);
        @include vendor-prefix(animation-direction, alternate);
        @include vendor-prefix(animation-timing-function, ease-in-out);
        .touch & {
            @include vendor-prefix(animation-name, none);
        }
      }
    }
}

.mongolfiera__with__piada {
    background: url(../images/home_before_piade.png) 0 0 no-repeat;
    background-size: contain;
    width: 1500px;
    height: 1198px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-39%);
    //left: 7%;
    z-index: 1;
    animation: none;
}

#home article {
    overflow: visible;
}

/* background-attachment does the trick */
.steps__production section {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 900px 596px;
    height: 100%;

    aside {
        width: 382px;
        position: absolute;
        left: 50%;
        margin-left: -408px;
        top: 50%;
        -moz-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
        -o-transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        transform: translatey(-50%);
        text-align: left;
    }
    p {
        font-size: 1.688em;
    }
    .no-touch & {
        background-attachment: fixed;
    }
    .touch {
        height: 600px;
    }
}

#step0 {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    // background: url(../images/home_step0@2x.jpg) bottom center no-repeat;
    // background-size: contain;
    img {
        width: 100%;
    }
}

#step1 {
    background-image: url(../images/home_step1.png);
}

#step2 {
    background-image: url(../images/home_step2.png);
}

#step3 {
    background-image: url(../images/home_step3.png);
}

#step4 {
    background-image: url(../images/home_step4.png);
}

.fixOverflowSteps {
    height: 300%;
    .touch & {
        height: 60px;
    }
}

.tipologie {
    text-align: center;

     li {
        width: 40%;
        margin: 5%;
        float: left;
        text-align: center;
        &:nth-child(3){
            clear: left;
        }
     }
}

.provala {
    background: url(../images/bg_provala.png) 0 0 no-repeat;
    background-size: cover;
    width: 883px;
    height: 701px;
    margin: 80px auto 0;
    padding-top: 392px;
}

// CHI SIAMO
#chisiamo {
    background: url(../images/bg_content.jpg) 0 0 repeat;
    background-size: contain;
    padding-top: 96px;

    header {
        background: url(../images/foto_retina.jpg) 0 96px no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
        position: relative;
        img {
            visibility: hidden;
        }
    }
    header:after {
        background: url(../images/nuvole.png) bottom left no-repeat;
        background-size: contain;
        display: block;
        content:"";
        height: 194px;
        width: 100%;
        bottom: 0;
        position: absolute;
    }

    footer {
        margin-top: 50px;
        background: url(../images/bg_subcontent.png) center 0 repeat-x;
        background-size: auto 100%;
        height: 587px;
        div {
            padding: 60px 0 0;
        }
    }

    p {
        text-align: left;
    }
}

header img {
    width: 100%;
    display: block;
}


// COME CUCINARLA
#come-cucinarla div[role="main"] header {
    //background: url(../images/header_cc.jpg) top center no-repeat;
    //background-size: contain;
    img {
        width: 100%;
    }
    p {
        font-size: 1.688em;
    }
}
.cbp-so-scroller {
    overflow: hidden;
}

.cbp-so-section {
    margin-bottom: 50px;
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
    content: " ";
    display: table;
}

.cbp-so-section:after {
    clear: both;
}

/* Text styling */
// .cbp-so-section h2 {
//     font-size: 5em;
//     font-weight: 300;
//     line-height: 1;
// }

div[role="main"] .cbp-so-section p {
    font-size: 1.5em;
    //font-weight: 300;
}

/* Sides */
.cbp-so-side {
    width: 50%;
    float: left;
    margin: 0;
    padding: 3em 4%;
    overflow: hidden;
    min-height: 12em;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    // -moz-transition: -moz-transform 0.5s, opacity 0.5s;
    // transition: transform 0.5s, opacity 0.5s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
    content: " ";
    display: table;
}

.cbp-so-side:after {
    clear: both;
}

.cbp-so-side-right {
    text-align: left;
}

.cbp-so-side-left {
    text-align: left;
}

.cbp-so-side-right img {
    float: left;
}

.cbp-so-side-left img {
    float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
    opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

// CONTATTI
#contatti .clouds__wrapper {
    overflow: hidden;
}
.form--wrapper {
    background: url(../images/form_contatti.png) top right no-repeat;
    width: 1024px;
    height: 728px;
    margin: 0 auto 50px;
    padding: 240px 130px 0 121px;
    form {
        width: 44%;
        float: left;
    }
    input, textarea {
        width: 100%;
        border-radius: 25px;
        display: block;
        margin-bottom: 17px;
        font-size: 1.750em;
        line-height: 1.4em;
        border: 0 none;
        background-color: #f9f7f1;
        color: #a19b9b;
        padding: 0 30px;
    }
    aside {
        width: 42%;
        float: right;
        text-align: left;
        span, a {
            color: #e15c59;
        }
    }
}



@media screen and (max-width: 959px) {
    .cbp-so-scroller {
        font-size: 65%;
    }

    .cbp-so-section h2 {
        margin: 0;
    }

    .cbp-so-side img {
        max-width: 120%;
    }
}

@media screen and (max-width: 41.125em) {
    .cbp-so-side {
        float: none;
        width: 100%;
        padding: 0;
    }

    .cbp-so-side img {
        max-width: 100%;
    }
}

///////////////////
// LAYOUT > 720  //
///////////////////

@media screen and (min-width: 720px) {

    nav ul li a {
        font-size: 1em;
    }
    .clam__1 {
        width: 80%;
    }
    .clam__2 {
        width: 40%;
    }

}

///////////////////
// LAYOUT > 768  //
///////////////////

@media screen and (max-width: 768px) {

    html, body,
    #home div[role="main"],
    .steps__production {
        height: auto;
    }

    .steps__production section {
        height: 600px;
        background-size: 100% auto;

        aside {
            width: 300px;
            margin-left: -350px;
        }
        p {
            //font-size: 1em;
        }
    }

    .fixOverflowSteps {
        height: 60px;
    }

    .mongolfiere__wrapper.higher {
        height: 800px;
    }

    .mongolfiera__with__piada {
        background-size: 70% auto;
        background-position: center center;
        height: 700px;
    }

    .tipologie img {
        width: 100%;
    }

    .provala{
        width: 100%;
        background-size: contain;
        padding-top: 46%;

        img {
            width: 40%;
        }
    }

    #contatti .clouds__wrapper {
        display: none;
    }

    .form--wrapper {
        background-size: contain;
        width: 100%;
        padding: 170px 130px 0 61px;
    }

}


///////////////////
// LAYOUT > 320  //
///////////////////

@media screen and (max-width: 320px) {

    #mainHeader {
        height: auto;
        background-repeat: repeat;
        top: -184px;
        -moz-transition: top 0.5s ease;
        -o-transition: top 0.5s ease;
        -webkit-transition: top 0.5s ease;
        transition: top 0.5s ease;
        &.active {
            top: 0;
        }
    }

    nav {
        .logo {
            width: 73px;
            height: 80px;
            background-size: cover;
            margin-left: -36px;
            bottom: -16px;
        }
        ul {
            height: auto;
            padding-bottom: 64px;
            li {
                width: 100%;
                &:empty {
                    display: none;
                }
                a {
                    display: block;
                    padding: 12px 0;
                    border-width: 0
                }
                &:nth-child(2) a {
                    margin-top: 0;
                }
            }
        }
    }

    div[role="main"] {
        padding-top: 80px;
        p {
            font-size: 1.2em;
            padding: 0 10px;
            margin-bottom: 10px;
        }
    }

    h2, h3 {
        padding: 0 10px;
    }

    article, .wrapper {
        margin-bottom: 10px;
    }

    .clouds__wrapper_clam {
        padding-top: 20px;
        height: auto;
    }

    .clam__wrapper {
        height: 271px;
    }

    .clam__1 {
        width: 75%;
        top: 10px;
        left: 10px;
    }

    .clam__2 {
        width: 40%;
        top: 0;
        right: 10px;
    }

    .clouds__wrapper, .clouds__top, .clouds__bottom {
        background: none;
    }

    .show_menu-btn {
        display: block;
    }

    .mongolfiere__wrapper {
        display: none;
    }

    #step0 {
        margin-bottom: 140px;
        #step0 {
            display: none;
        }
    }

    .steps__production section {
        height: 250px;
        background: none;

        aside {
            position: static;
            width: 100%;
            margin-left: 0;
        }
        h3 {
           font-size: 1.5em;
        }
        p {
           font-size: 1em;
        }
    }

    #step4 .clouds__top {
        display: none;
    }

    .touch .fixOverflowSteps {
        height: 0;
        margin-bottom: -50px;
    }

    .clouds__title {
        padding-top: 0;
        font-size: 1.5em;
    }

    .tipologie {
        .clouds__bottom {
            display: none;
        }
        p {
            font-size: 1em !important;
        }
    }

    .provala {
        height: 250px;
    }

    .title {
        font-size: 2.5em;
        margin: 15px 0;
        #come-cucinarla header & {
            margin-bottom: 60px;
        }
    }

    #chisiamo {
        background: none;
        header {
            display: none;
        }
        footer {
            background: none;
        }
    }

    .form--wrapper {
        background: none;
        padding: 0 10px;
        height: auto;
        form, aside {
            width: 100%;
        }
    }

    #mainFooter div p {
        line-height: 32px;
        font-size: 0.8em;
        color: #fff;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

}

///////////////////
// LAYOUT > 960  //
///////////////////

@media screen and (min-width: 960px) {

    nav ul li a {
        font-size: 1.375em;
    }
    .clam__1 {
        width: 669px;
    }
    .clam__2 {
        width: 365px;
    }

}

