nav {
	background: none;
	border-bottom: 2px #fff solid;
}

nav {
	ul {
		text-align: center;
		height: 82px;
		overflow: hidden;
		li {
			display: inline-block;
			width: 19%;
			vertical-align: top;
			a {
				display: inline-block;
				padding: 39px 12px 21px;
				border-color: transparent;
				border-style: solid;
				border-width: 0 2px;
				color: $secondColor;
				text-decoration: none;
				text-transform: uppercase;
				&:hover, &.current {
					border-color: #fff;
					background-color: #cf4243;
				}
			}
			&:nth-child(2) a {
				margin-top: -10px;
			}
		}
	}
	.logo {
		width: 146px;
		height: 160px;
		background: url(../images/logo.png) 0 0 no-repeat;
		background-size: contain;
		position: absolute;
		left: 50%;
		margin-left: -72px;
		a {
			display: block;
			height: 100%;
		}
	}
}
