nav {
	background: none;
	border-bottom: 2px #fff solid;
}

nav {
	ul {
		text-align: center;
		height: 82px;
		overflow: hidden;
		li {
			display: inline-block;
			width: 19%;
			vertical-align: top;
			a {
				display: inline-block;
				padding: 39px 12px 21px;
				border-color: transparent;
				border-style: solid;
				border-width: 0 2px;
				color: $secondColor;
				text-decoration: none;
				text-transform: uppercase;
				&:hover, &.current {
					border-color: #fff;
					background-color: #cf4243;
				}
			}
			&:nth-child(2) a {
				margin-top: -10px;
			}
		}
	}
	.logo {
		width: 146px;
		height: 160px;
		background: url(../images/logo.png) 0 0 no-repeat;
		background-size: contain;
		position: absolute;
		left: 50%;
		margin-left: -72px;
		a {
			display: block;
			height: 100%;
		}
	}
}
.show_menu-btn {
	position: absolute;
  	padding-left: 1.25em;
  	width: 50px;
  	height: 30px;
	display: none;
	right: 5px;
	top: 79%;
	&:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0.25em;
	  width: 1.5em;
	  height: 0.25em;
	  background: rgba(255,255,255,.8);
	  box-shadow: 0 0.5em 0 0 rgba(255,255,255,.8), 0 1em 0 0 rgba(255,255,255,.8);
		.active & {
			content: "\2191";
			font-size: 1.8em;
			background: transparent;
			box-shadow: none;
		}
	}
}
