#mainFooter{
    box-shadow: 0 -3px 8px #555;

	div{
		height: 82px;
		margin-bottom: 0;
		display: table;
        p {
			line-height: 82px;
			font-size: 1.375em;
			color: #fff;
	        text-align: center;
	        display: table-cell;
	        vertical-align: middle;
        }
	}

	&:after {
		display: block;
		content: "";
		border-bottom: 2px #fff solid;
	}
}


// ///////////////////////////
// MEDIA QUERIES
// ///////////////////////////

@media screen and (min-width: 460px) {
	footer {
		div{

		}
	}
}

@media screen and (min-width: 700px) {
	footer {
		div{

		}
	}
}
